* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2b2d42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    width: 450px;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
}

button {
    border: 0;
    background-color: #03045e;
    color: #FFF;
    font-size: 16px;
    width: 180px;
    height: 35px;
    border-radius: 20px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 4px;
}

input:hover {
    background-color: #e0f5f5;
}

label {
    margin-right: 10px;
}

.container {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
